/* style.css */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
}

ul { 
    text-decoration: none;
}

/* body {
     display: flex; 
} */

#gallery {
    display: flex;
}

#gallery > li { 
    width: 200px;
    height: 120px;
    outline: 2px solid red;
}

#gallery > li > img { 
    width: 100%;
    object-fit: fill;
}